/* Overall formatting */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img:hover {
  width: 50%;
  

}

nav:hover, nav:active {font-size: large;}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  
}

:root {
  --color1: #84A98C;
  --color2:  #354f52;
  --color3: #ffb5a7;
  --color4: #CAD2C5;
  --color5: #b9c6ae;
  --white: #fff; 
  --smallwidth: 50%;
  }

main {
  display: flex;
}

/* Header and Navbar */
header {
  padding: 40px;
  text-align: center;
  background: var(--color2);
  color: var(--white);
}


nav {
  display: flex;
  background-color: var(--color4);
  justify-content: center;
}

nav a {
  color: var(--color2);
  padding: 14px 20px;
  text-decoration: none;
}

/* Main */


/* Aside Bar */

#workheader {
  font-size: xx-large;
  width: 25%;
  max-height: 300px;
  background-color: var(--color2);
  color: var(--white);  
  }

#workheader, hobheader {
  position: absolute
  right: 5px;
  
}

/* About Me Section */
article { 
  display: flex;
  flex-direction: row;
  text-align: center;
  background: var(--color5);
  color: var(--color2);
  font-weight: bold ;   
}

  #aboutme > img {
  width: 120px;
  height: auto;
  border-radius: 15px;
  margin-right: 20px;
  }
/* Project Grid in Middle */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 6px;
  background-color: var(--white);
  margin-bottom: 10px;
  /* padding: 20px; */  
}

.bigproject {
  width: 75%;
  max-height: 300px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.break {
  flex-basis: 100%;
  width: 0px;
}

#hobheader { 
  width: 100%;
  height: 600px;
  background-color: var(--color2);
  color: var(--white); 
  width: 300px;
  font-size: xx-large;
  text-align: center;
  align-items: center;
}

.project {
  
  flex-grow: 
  /* What does this do ^^ */
  /* flex-direction: row; */
  max-height: 300px;
  width: 25%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  
}

.project header {
  /* display: flex; */
  width: 30%;
  padding: 20px;
  position: relative;
  bottom: -150px;
  left: -10px;
}

.project p {
  text-align: center;
}

img {
  flex-grow: 1;
  width: 200px;
  height: auto;
  align-content: center;
  transition: width 1s, height 1s;
  justify-content: center;
}


/* Footer */

footer {
  padding: 20px;
  text-align: center;
  background: var(--color2);
  color: var(--white);
}

form {
  padding: 10px 0 10px 0;
}

/* Sizing formatting */

@media screen and (max-width: 768px) {
  
  main, .projects, article,
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project, .bigproject {
    height: 350px;
    width: 100%;
  }   

  img {
    max-height: 190px;
  }
/* Helpful notes from previous activities for myself*/
/* 
What does the justify-content property do?
It is used to align the flex items; in our case, the product cards 
*/

/* 
What is the flex property a shorthand property for?
It is a shorthand property for the flex-grow, flex-shrink, and flex-basis properties 
What is it doing here?
We are making the product card not growable, not shrinkable, and with an initial length of 400px 
*/


/* 
What does the flex-direction property define?
It defines in which direction the container wants to stack the flex items
What is it doing here? 
We are telling the main body and navbar to stack vertically in a column
*/

